body {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 200;
	color: #6e6f6f;
	background: #e5e5e5;
	text-align: center;
}

#timer {
	font-size: 100px;
}

.button {
	color: orange;
	text-decoration: none;
	padding: 0.5em;
	font-size: 1.5em;
	text-shadow: #d67c00 0 0 0;
}

#container {
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#info,
#label {
	font-size: 25px;
}
